body {
    background-color: #111; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;
    
    position: relative;
    z-index: 0;
    overflow: hidden; 
}

body::before {
    content: "";
    position: fixed;
    top: -20px; 
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1; 
    
    background-image: var(--bg-image, none);
    background-size: cover;
    background-position: center;
    
    
    /* blur(8px): Deixa a imagem mais nítida (menos embaçada que antes) */
    /* brightness(0.4): Deixa bem escuro para o texto branco sobressair */
    filter: blur(8px) brightness(0.4); 
    
    transition: background-image 0.5s ease-in-out;
}

/* --- BARRA DE PESQUISA --- */
.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    z-index: 2;
}

input {
    width: 65%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button {
    padding: 15px 25px;
    margin-left: 10px;
    cursor: pointer;
    background: #706d73;
    border: none;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s, background 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button:hover {
    background: #8e2de2;
    transform: scale(1.05);
}

.resultado {
    margin-top: 40px;
}

.card-transparente {
    /* Fundo semi-transparente para o card */
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); /* Efeito vidro extra no card */
    -webkit-backdrop-filter: blur(10px);
    
    padding: 40px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
    text-align: center;
    animation: surgir 0.5s ease-out;
}

.titulo-musica {
    font-size: 2.2em;
    margin: 0 0 10px 0;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.artista-musica {
    font-size: 1.2em;
    color: #ddd;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.player-container {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.player-container h3 {
    font-size: 0.9em;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.audio-player {
    width: 100%;
    height: 40px;
}

@keyframes surgir {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}